<!--
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>
 -->


<h2>My Heroes</h2>
<ul class="heroes">
    <!-- <li *ngFor="let currency of currencies" -->
    <!-- <li *ngFor="const currency in currencies" -->
    <li *ngFor="let item of currencies | keyvalue"

        [class.selected]="item.key === selectedCurrency"
        (click)="onSelect(item.key)">

        <!-- <span class="badge">{{hero.id}}</span> {{hero.name}} -->
        <span class="badge">{{item.key}}</span>
    </li>
</ul>

<div *ngIf="selectedCurrency">

    <h2>{{selectedCurrency | uppercase}} Details</h2>

    <ol>
        <li *ngFor="let item in currencies[selectedCurrency] | keyvalue">
            {{item.key}}, {{item.value}}
        </li>
    </ol>

</div>

<!--
<div *ngIf="selectedHero">

    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>

    <div *ngIf="selectedHero.testValues">
        <ul>
            <li *ngFor="let value of selectedHero.testValues">
                {{value}}
            </li>
        </ul>
    </div>
    <div *ngIf="selectedHero.testValues2">
        <ol>
            <li *ngFor="let prop in selectedHero.testValues2">
                {{prop}} => {{selectedHero.testValues2[prop]}}
            </li>
        </ol>
    </div>
    <div *ngIf="selectedHero.testValues3">
        <ul>
            <li *ngFor="let test of selectedHero.testValues3">
                {{test.name}} => {{test.value}}
            </li>
        </ul>
    </div>

    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name"/>
        </label>
    </div>

</div> -->
